body {
  padding: 0 25px;
  margin: 0;
  background: #4986cb;
  font-family: arial, sans-serif;
  text-align: center;
}

#main {
  width: 700px;
  padding: 50px 60px;
  margin: auto;
  border: solid #ddd;
  border-width: 0 1px 1px 1px;
  background: #fff;
  text-align: left;
}

#main h1 {
  padding: 0;
  margin-top: 0;
  margin-bottom: 30px;
  color: #4986cb;
  font-size: 3em;
}

#main h1 span {
  font-style: italic;
}

#main ul {
  padding-left: 20px;
}

#main .error {
  padding: 20px;
  border: 1px solid #ff0000;
  background: #fdeff0;
}

#main .success {
  margin-top: 25px;
}

#main .success code {
  color: #00ff00;
  font-size: 12px;
  line-height: 13px;
}

form {
  padding: 20px;
  padding-left: 0;
  margin-bottom: 20px;
}

form input[type=text] {
  margin-right: 10px;
  width: 70%;
  font-size: 12px;
  padding: 5px;
}

label {
  margin-right: 8px;
  font-size: 1.1em;
  font-weight: bold;
}

#roomSelect {
  -webkit-appearance: none;
  width: 200px;
  height: 30px;
  padding: 5px 7px;
  border: solid 1px #ccc;
  font-size: 1em;
}

#message {
  -webkit-appearance: none;
  width: 500px;
  height: 30px;
  padding: 0;
  padding-left: 7px;
  border: solid 1px #ccc;
  border-radius: 5px;
  font-size: 1em;
}

.submit {
  display: none;
}

.chat {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #eee;
}

.chat .username {
  font-weight: 800;
}

.chat:hover {
  background-color: #ddd;
}

.spinner {
  float: right;
  height: 46px;
  margin-bottom: 5px;
}

.spinner img {
  padding: 10px;
  margin-top: 30px;
}

.friend {
  font-weight: bold;
}
